body {
    margin: 20px;

}

.App {
    background: antiquewhite;
    display: flex;
    justify-content: center;
}

.app-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30rem;

}